img {
    border-radius: 50%;
}

body {
    background-color: whitesmoke;
  }
  h1 {
    color: blue;
    font-family: verdana;
    font-size: 150%;
     }
  p {
    color: red;
    font-family: courier;
    font-size: 100%;
  }
  h3 {
    color: green;
    font-family: verdana;
    font-size: 100%;
     }